@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "GT-Walsheim-Pro";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/GT-Walsheim-Pro-Medium.otf") format("opentype");
}


@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-gt-walsheim: "GT-Walsheim-Pro", "sans-serif";
  --font-raleway: "Raleway", sans-serif;
  --color-primary: oklch(0.7 0.28 145);
}

@layer base {
  body {
    @apply bg-black text-white;
  }
}

@layer components {
  .hero-text {
    background: linear-gradient(
      89.81deg,
      #9845e8 -1.72%,
      #33d2ff 54.05%,
      #dd5789 99.78%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
